body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
  width: 100% !important;
  position: relative;
  overflow: auto;
  background-color: var(--white);
}
html {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --lightblue: #0496ff;
  --darkblue: #006ba6;
  --lightred: #d81159;
  --darkred: #8f2d56;
  --yellow: #ffbc42;
  --white: #dee2e6;
}
